/* GLOBAL */

body {
  font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

iframe {
  border: 0;
}

#ableton {
  width: 100%;
  height: 100%;
}

.reset {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-size: 1em;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-image: none;
  background-color: transparent;
  border: none;
}

/* HEADER */

header.main-header-nav {
  width: 100%;
  padding-top: 1.5rem;
}

.ableton-logo {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
}

#ableton-logo-image {
  display: block;
  width: 3.75em;
  height: 1.75em;
}

.primary-header-nav > ul {
  padding-right: 2.5rem;
  display: flex;
  padding-left: 8.75rem;
  padding-bottom: 1.25rem;
}

.primary-header-nav > ul > li, .secondary-header-nav > ul > li {
  display: inline-block;
  vertical-align: middle;
}

.primary-header-nav > ul > li:not(:last-child) a, .primary-header-nav > ul > li button {
  color: black;
  text-decoration: none;
  margin-right: .625rem;
  padding-right: .625rem;
  font-size: 1.25rem;
  line-height: 1.5;
  /* font-weight: bold; */
}

.primary-header-nav > ul > li:not(:first-child) a, 
.primary-header-nav > ul > li:not(:first-child) button,
.secondary-header-nav > ul > li:not(:first-child) a {
  margin-left: .625rem;
  padding-left: .625rem;
}

.secondary-header-nav > ul > li a, .primary-header-nav > ul > li a, .primary-header-nav > ul > li button {
  color: inherit;
}

.secondary-header-nav > ul > li.active > *, .primary-header-nav > ul > li.active > * {
  color: #FF764D;
}

.primary-header-nav > ul > li.try-live {
  margin-left: auto;
  margin-right: 0;
}

.primary-header-nav > ul > li.try-live a {
  color: blue;
}

.primary-header-nav > ul > li.login a {
  font-size: 1rem;
  line-height: 1.5;
}

.primary-header-nav > ul > li.login {
  display: flex;
  align-items: center;
}

.primary-header-nav {
  position: relative;
}

.primary-header-nav:after {
  content: '';
  position: absolute;
  bottom: 0;
  height: 2px;
  background: #eee;
  width: 100%;
}

.secondary-header-nav > ul {
  padding: 1.25rem 2.5rem
}

.secondary-header-nav > ul > li:not(.active) a {
  color: black;
}

.secondary-header-nav > ul > li a {
  font-size: 1rem;
}

/* ABOUT */

main {
  display: block;
}

header.about-page-header {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("https://ableton-production.imgix.net/about/header.jpg?auto=format&dpr=2&fit=crop&fm=jpg&h=450&ixjsv=1.1.3&q=50&w=1200");
  margin-left: 8.33333vw;
  margin-right: 8.33333vw;
  margin-bottom: 8.33333vw;
  min-height: 450px;
  position: relative;
}

header.about-page-header h1 {
  position: absolute;
  color: #FD5948;
  font-size: 115px;
  left: 50%;
  top: 50%;
  margin-left: -215px;
  margin-top: -52px;
}

.about-text {
  width: 50vw; 
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8.33333vw;
}

.about-text > h1 {
  font-size: 1.875rem;
  line-height: 1.4;
  margin-bottom: .7em;
}

.about-text > p {
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: normal;
}

/* ABOUT IMAGE COLLAGE */

.about-image-collage {
  padding: 8.33333vw 0;
  position: relative;
  margin-bottom: 8.33333vw;
}

.about-image-background {
  width: 58.33333vw;
  height: 58.33333vw;
  position: absolute;
  background-color: #FBFFA7;
  left: 41.66667vw;
  top: 0;
  z-index: 0;
}

.about-image-one {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("https://ableton-production.imgix.net/about/photo-1.jpg?dpr=2&fit=crop&h=600&ixjsv=1.1.3&q=50&w=600");
  width: 41.66667vw;
  height: 41.66667vw;
  margin-left: 8.33333vw;
  z-index: 1;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.about-image-two {
  width: 33.33333vw;
  height: 25vw;
  margin-left: 8.33333vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("https://ableton-production.imgix.net/about/photo-2.jpg?dpr=2&fit=crop&h=360&ixjsv=1.1.3&q=50&w=480");
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 1;
}

.about-video {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8.33333vw;
}

.youtube-video {
  position: relative;
  width: 100%;
  cursor: pointer;
  z-index: 40;
  padding-bottom: 56.25%;
}

.youtube-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.about-video > p.video-caption {
  font-size: .875rem;
  line-height: 1.5;
  margin-top: .5em;
}